# 시계열 데이터
## 12-1 datetime 오브젝트 (p.241~242)

In [1]:
from datetime import datetime

In [2]:
now1 = datetime.now()
print(now1)

2021-10-03 10:41:28.703111

In [3]:
now2 = datetime.today()
print(now2)

2021-10-03 10:41:28.717075

In [4]:
t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)
print(t1)
print(t2)
print(t3)

2021-10-03 10:41:28.737020
1970-01-01 00:00:00
1970-12-12 13:24:34

In [5]:
diff1 = t1 - t2
print(diff1)
print(type(diff1))

18903 days, 10:41:28.737020
<class 'datetime.timedelta'>

In [6]:
diff2 = t2- t1
print(diff2)
print(type(diff2))

-18904 days, 13:18:31.262980
<class 'datetime.timedelta'>

## 12-2 사례별 시계열 데이터 계산하기 (p.256-263)
### 테슬라 주식 데이터로 시간 계산

In [7]:
import pandas as pd

In [8]:
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

In [9]:
#tesla에 데이터프레임 저장 
tesla = pdr.get_data_quandl('TSLA', api_key = 'sq2E_pERAQaw6dXwzsZR')
#tesla에 저장된 데이터프레임 파일로 저장
tesla.to_csv(r'C:\Users\minjipark\21-2 ESAA\doit_pandas-master\data\tesla_stock_quandl.csv')

In [10]:
print(tesla.head())
#Date열: 문자열

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [11]:
tesla = pd.read_csv(r'C:\Users\minjipark\21-2 ESAA\doit_pandas-master\data\tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        371 non-null    datetime64[ns]
 1   Open        371 non-null    float64
 2   High        371 non-null    float64
 3   Low         371 non-null    float64
 4   Close       371 non-null    float64
 5   Volume      371 non-null    float64
 6   ExDividend  371 non-null    float64
 7   SplitRatio  371 non-null    float64
 8   AdjOpen     371 non-null    float64
 9   AdjHigh     371 non-null    float64
 10  AdjLow      371 non-null    float64
 11  AdjClose    371 non-null    float64
 12  AdjVolume   371 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 37.8 KB
None

In [12]:
print(tesla.loc[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, ExDividend, SplitRatio, AdjOpen, AdjHigh, AdjLow, AdjClose, AdjVolume]
Index: []

### datetime 오브젝트와 인덱스 - DatetimeIndex

In [13]:
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2016-10-17', '2016-10-14', '2016-10-13', '2016-10-12',
               '2016-10-11', '2016-10-10', '2016-10-07', '2016-10-06',
               '2016-10-05', '2016-10-04'],
              dtype='datetime64[ns]', name='Date', length=371, freq=None)

In [14]:
#2016년의 데이터 5개 + 5칼럼
print(tesla['2016'].iloc[:5, :5])

                 Date    Open    High       Low   Close
Date
2016-12-30 2016-12-30  216.30  217.50  211.6800  213.69
2016-12-29 2016-12-29  218.56  219.20  214.1225  214.68
2016-12-28 2016-12-28  221.53  223.80  217.2000  219.74
2016-12-27 2016-12-27  214.88  222.25  214.4200  219.53
2016-12-23 2016-12-23  208.00  213.45  207.7100  213.34

C:\Users\MINJIP~1\AppData\Local\Temp/ipykernel_7156/2141854018.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2016'].iloc[:5, :5])

In [15]:
print(tesla['2017-06'].iloc[:, :5])

                 Date     Open      High       Low   Close
Date
2017-06-30 2017-06-30  363.710  366.7674  359.6187  361.61
2017-06-29 2017-06-29  370.610  371.0000  354.1000  360.75
2017-06-28 2017-06-28  366.680  371.7400  362.5200  371.24
2017-06-27 2017-06-27  376.400  376.4000  362.0200  362.37
2017-06-26 2017-06-26  386.690  386.9500  373.1000  377.49
2017-06-23 2017-06-23  382.450  386.9900  379.3450  383.45
2017-06-22 2017-06-22  377.990  385.0000  373.5700  382.61
2017-06-21 2017-06-21  374.350  376.9900  368.0200  376.40
2017-06-20 2017-06-20  376.670  378.8800  369.7300  372.24
2017-06-19 2017-06-19  375.000  376.7000  367.8000  369.80
2017-06-16 2017-06-16  377.975  378.0100  370.1000  371.40
2017-06-15 2017-06-15  372.500  375.4600  366.4900  375.34
2017-06-14 2017-06-14  381.085  384.2500  376.3100  380.66
2017-06-13 2017-06-13  367.620  376.0000  366.6100  375.95
2017-06-12 2017-06-12  357.990  364.5000  350.6200  359.01
2017-06-09 2017-06-09  374.420  376.8700  354.8000  357.32
2017-06-08 2017-06-08  363.750  371.9000  360.2200  370.00
2017-06-07 2017-06-07  356.340  360.5000  355.1400  359.65
2017-06-06 2017-06-06  344.700  359.4929  339.9700  352.85
2017-06-05 2017-06-05  338.500  348.4400  334.2100  347.32
2017-06-02 2017-06-02  339.770  342.8800  335.9300  339.85
2017-06-01 2017-06-01  344.000  344.8800  337.2900  340.37

C:\Users\MINJIP~1\AppData\Local\Temp/ipykernel_7156/1140878962.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2017-06'].iloc[:, :5])

### 시간 간격과 인덱스 - TimedeltaIndex

In [16]:
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 539 days
2018-03-26 538 days
2018-03-23 535 days
2018-03-22 534 days
2018-03-21 533 days

In [17]:
tesla.index = tesla['ref_date']
print(tesla.iloc[:5, :5])

               Date    Open    High     Low   Close
ref_date
539 days 2018-03-27  304.00  304.27  277.18  279.18
538 days 2018-03-26  307.34  307.59  291.36  304.18
535 days 2018-03-23  311.25  311.61  300.45  301.54
534 days 2018-03-22  313.89  318.82  308.18  309.10
533 days 2018-03-21  310.25  322.44  310.19  316.53

In [18]:
print(tesla['5 days':].iloc[:5, :5])

               Date    Open      High     Low   Close
ref_date
3 days   2016-10-07  201.00  201.3200  195.80  196.61
2 days   2016-10-06  202.46  204.2099  200.21  201.00
1 days   2016-10-05  212.24  213.1500  208.12  208.46
0 days   2016-10-04  213.10  213.3200  208.82  211.41